:root {
    --primary-color:rgb(215, 215, 215);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

main {
    height: 100%;
}

.main-wrapper {
    background-color: var(--primary-color);
    width: 100vw;
    height: 100%;
    z-index: -999;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.library {
    font-size: 2rem;
}

.log-in {
    font-size: 1.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

p {
    padding-bottom: 0.5rem;
}

header {
    z-index: 1;
    width: 100%;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    background-color: white;
    box-shadow:  0px 0px 7px 2px #484848;
}

.wrapper {
    display: flex;
    padding: 1rem;
    width: 70vw;
    justify-content: space-between;
}

.button {
    display: flex;
    justify-content: center;
    padding: 2rem;
}

#addDialog {
    margin: auto;
    padding: 1rem;
}

label, input {
    margin-bottom: 1rem;
}

.book-list {
    max-width: 70vw;
    margin: auto;
    display: grid;
    gap: 1rem;
    padding: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    justify-content: center;
}

.book {
    max-width: 220px;
    padding: 3rem;
    background-color: rgb(255, 255, 255);
    box-shadow: 5px 5px 5px rgb(220, 220, 220);
    border-radius: 5px;
    margin: auto;
}

.read {
    background-color: lightgreen;
    margin-bottom: 1rem;
    border-radius: 5px;
    border-color: transparent;
    height: 100%;
    width: 100%;
}

.not-read {
    background-color: lightcoral;
    margin-bottom: 1rem;
    border-radius: 5px;
    border-color: transparent;
    height: 100%;
    width: 100%;
}

.read:hover {
    background-color: rgb(165, 243, 165);
}

.not-read:hover {
    background-color: rgb(227, 116, 116);
}

.remove {
    width: 100%;
}

#addBookWindow {
    all: unset;
    font-size: 2rem;
    font-weight: bolder;
    padding: 1rem;
}

#addBookWindow:hover {
    font-size: 2rem;
    background-color: #c3c3c3;
    cursor: pointer;
    border-radius: 10px;
}

dialog {
    border: none !important;
    border-radius: 10px;
    box-shadow: 0 0 #0000, 0 0 #0000, 0 25px 50px -12px rgba(0, 0, 0, 0.25);
    padding: 1.6rem;
    max-width: 400px;
}


#bookInformation {
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    padding:1rem 2rem 1rem 2rem;
}

.buttons {
    width: 100%;
    margin: 0 auto;
}


.add {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 65%;
    padding: 0.5rem;
}

.is-read {
    display: flex;
    justify-content: space-between;
}

